@{
    ViewBag.Title = "Nubulous";
}

<div class="jumbotron">
    <h1 class="text-center">Nubulous</h1>
    <p class="lead text-center">Nubulous is a Cloud Storage Management tool. </p>
    <p class="lead text-center">We can manage all of your cloud storage in one convenient place!</p>
    <p class="text-center"><a href="/Account/Login") class="btn btn-primary btn-lg">Get Started&raquo;</a></p>
</div>
