@{
    ViewBag.Title = "Nubulous";
}

<div class="jumbotron">
    <h1>Nubulous</h1>
    <p class="lead">Nubulous is a Cloud Storage Management tool - with Nubulous you can manage all of your cloud storage in one convenient place!</p>
    <p><a href=@Html.Partial("Login") class="btn btn-primary btn-lg">Get Started&raquo;</a></p>
</div>
