@using Nubulous.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2 class="text-center">@ViewBag.Title</h2>
<div class="jumbotron">
    <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
