<!DOCTYPE html>

<html>

<div class="jumbotron">

    <h1 class="text-center">Command Center</h1>

    <div>
        <p class="text-center">Dropbox</p>
    </div>

    <div>
        <p class="text-center">Google Drive</p>
    </div>

    <div>
        <p class="text-center">iCloud</p>
    </div>

    <div>
        <p class="text-center">OneDrive</p>
    </div>


</div>
</html>

